body{
  background-color: rgb(121, 182, 8);
  color: gold;
  font-size: larger;
}
title{
  color: blue;
  font-size: larger;
}
form{
  border: 1px solid blueviolet;
  font-weight: 500;
  background-color: aqua;
  height: 150px;
}
.welcome{
  color: chocolate;
}
#form{
  width: 6000px;
  height: 400px;
  background-color: black;
}